<% layout("/layouts/boilerplate.ejs") %>
<body id="showOne">
    <h2><%= thisListing.title %></h2>
    <img src="<%= thisListing.image %>" width="500px">
    <ul>
        <li>Description: <%= thisListing.desc %></li>
        <li>Price: &#8377;<%= thisListing.price.toLocaleString("en-IN") %> per day</li>
        <li>Location: <%= thisListing.location %></li>
        <li>Country: <%= thisListing.country %></li>
    </ul>
    <form method="GET" action="/listings/<%= thisListing._id %>/edit"><button class="btn btn-dark">Edit</button></form>
    <form method="POST" action="/listings/<%= thisListing._id %>?_method=DELETE"><button class="btn btn-dark">Delete</button></form>
</body>